.wrapper {
    width:12rem;
    height:15rem;
    min-height: 13rem;
    padding: 1rem;
    margin:1rem;
    @media only screen and (max-width: 768px) {
        width:95%;
    }
    .city-card {
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        mat-card-header {
            justify-content: center;
            mat-card-title,  mat-card-subtitle {
                text-align: center;
            }
        }
        mat-card-content, mat-card-actions {
            text-align: center;
        }
        // mat-card-title, mat-card-subtitle {
        //     text-align:center;
        // }
        @media only screen and (max-width: 768px) {
            width:95%;
            display: block;
        }
    }
}
