.wrapper{
  height:100%;
  width:100%;
  .header{
    height:10%;
    width:100%;
    background-color: coral;
    margin:0;
    padding:1rem;
    border-bottom: 0.2rem solid gray;
    justify-content: space-between;
    .left-container{
      .app-title{
        font-weight: bold;
      }
    }
    .nav{
      width:fit-content;
      justify-content: flex-start;
      a {
        padding: 5px 10px;
        text-decoration: none;
        text-align: center;
        margin: 10px;
        display: inline-block;
        background-color: #eee;
        border-radius: 4px;
        min-width: 7rem;
      }
      a:visited, a:link {
        color: #607d8b;
      }
      a:hover {
        color: #039be5;
        background-color: #cfd8dc;
      }
      a.active {
        color: #039be5;
        border:3px solid gray;
        border-radius: 6px;
      }
    }
  }

  .main {
    height: 90%;
    padding: 1rem;
  }
}

