.wrapper{
  height:100%;
  width:100%;
  margin: 0 auto;
  .header{
    height:10%;
    width:100%;
    margin:0;
    padding:1rem;
    border-bottom: 0.2rem solid gray;
    justify-content: space-between;
    .left-container{
      .app-title{
        font-weight: bold;
      }
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    .nav{
      width:fit-content;
      justify-content: flex-start;
      a {
        padding: 5px 10px;
        text-decoration: none;
        text-align: center;
        margin: 0.5rem;
        display: inline-block;
        background-color: #eee;
        border-radius: 4px;
        min-width: 7rem;
        //width: fit-content;
        @media only screen and (max-width: 768px) {
          //width:fit-content;
          min-width: 3rem;
        }
      }
      a:visited, a:link {
        color: #607d8b;
      }
      a:hover {
        color: #039be5;
        background-color: #cfd8dc;
      }
      a.active {
        color: #039be5;
        border:3px solid gray;
        border-radius: 6px;
      }
    }
  }

  .main {
    height: 90%;
    padding: 0.5rem;
  }
}

