<div class="wrapper">
  <div class="row top-row">
    <div class="row left-container">
      <div class="column city-name-temp">
        <h2 *ngIf="city?.name" class="city-name">{{city?.name}} / {{city?.country}}</h2>
        <h3 *ngIf="city?.tempCurrent" class="city-temp">{{city?.tempCurrent}} C</h3>    
      </div>
    </div>
    <div class="row right-container">
      <button mat-button (click)="onAddToRemoveFromFavorites()">
        <span *ngIf="city && !city.isFavorite" class="material-icons md-48">favorite_border</span>
        <span *ngIf="city && city.isFavorite" class="material-icons md-48">favorite</span>
        {{addOrRemoveFromFavorites}}
      </button>
    </div>
  </div>
  <div class="row middle-row">
    <h1 class="today-cast-title">{{city?.weatherText}}</h1>
  </div>
  <div class="row bottom-row">
    <app-day-cast class="day-cast" *ngFor="let dayCastEl of city?.fiveDaysCast; let i=index"
      [dayCast]="dayCastEl">
    </app-day-cast>
  </div>
</div>
