.wrapper {
  width: 100%;
  height: fit-content;
  border: 0.2rem solid gray;
  border-radius: 0.8rem;
  flex-wrap: wrap;
  padding: 1rem 0.2rem;
  opacity:0.7;
  .top-row {
    height:15%;
    min-height:10rem;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    padding:1rem;
    margin: 1rem;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
    .left-container {
      height:100%;
      flex-grow:0.1;
      .city-name-temp {
        width:100%;
        justify-content: space-around;
        .city-name {
          margin-bottom: 0;
        }
        .city-temp {
          margin-bottom: 0.5rem;
        }
      }
    }
    .right-container {
      height:100%;
      flex-shrink:0.1;
      .mat-button{
        width:15rem;
        border: 2px solid gray;
        border-radius: 6px;
      }
    }
  }
  .middle-row {
    .today-cast-title{
      display: flex;
      direction: row;
      justify-content: center;
      align-items: center;
      margin: 1rem auto;
      color: white;
      font-style: italic;
      font-size: 3em;
    }
  }
  .bottom-row {
    justify-content: space-around;
    flex-wrap: wrap;
    .day-cast{
      width:15rem;
    }
  }
}
